body, html {
	background-image: url("../images/wars.jpg");
	background-repeat: repeat;
	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	background-size: 100%;
 	height: 700px;
}

.row {
	width: 100%;
	float: none;
	min-height: 1px;
	overflow: hidden;
}

.character {
	border: solid white 1px;
	float: left;
	width: 20%;
	text-align: center;
	margin-left: 35px;
}

.container {
	color: white;
	height: 700px;
}

.header {
	text-align: center;
}
.margin {
	width: 15%;
	float: left;
	min-height: 1px;
}

.gameZone {
	float: left;
	border: solid white 1px;
	width: 70%;
}
